

<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<br>

<div>

  <select class="form-select justify content-end" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <br>

<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Resim</th>
        <th>Marka</th>
        <th>Model</th>
        <th>Renk</th>
        <th>Yıl</th>
        <th>Fiyat</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let carDetail of carDetails" style="height:175px; width:600px" routerLink="cars/{{carDetail.carId}}">
          <td>
              <div class="card" style="height:50px; width:250px">
                <img *ngIf="carDetail.imagePath[0]==null" src="{{Path}}/Images/ghost.png" >
                <img *ngIf="carDetail.imagePath[0]!=null" src="{{Path}}{{carDetail.imagePath[0]}}" >
              </div> 
            </td>
            <td>{{carDetail.brandName}}</td>
            <th>{{carDetail.model}}</th>
            <td>{{carDetail.colorName}}</td>
            <td>{{carDetail.modelYear}}</td>
            <td>{{carDetail.price}}</td>
        </tr>

    </tbody>
  </table>
</div>
