
<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Renk</th>
            <th>Kiralayan</th>
            <th>Şirket</th>
            <th>Kiralanma Tarihi</th>
            <th>İade Tarihi</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rental of rentals">
        <td>{{rental.carId}}</td>
        <td>{{rental.brandName}}</td>
        <td>{{rental.model}}</td>
        <td>{{rental.colorName}}</td>
        <td>{{rental.username}}</td>
        <td>{{rental.companyName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
    </tr>
    </tbody>
</table>